<!doctype>
<html>
<head>
<title>Contact List Application</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="../style/style.css"></link>

</head>
<body ng-app="myApp">

<div class="container" ng-controller="AppCtrl">
<h1>Contanct List </h1>
<form name="contactList" novalidate>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone No</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" name="name" placeholder="Enter Name" class="form-control" ng-model="contact.name" ng-required="true"></td>
			<td><input type="text" name="email" placeholder="Enter Email" class="form-control" ng-model="contact.email"ng-required="true"></td>
			<td><input type="text" name="mobileNo" placeholder="Enter Mobile Number" class="form-control" ng-model="contact.mobileNo" ng-required="true"></td>
			<td><button  class="btn btn-primary" ng-click="addContanct()">Add Contanct</td>
			<td><button  class="btn btn-primary" ng-click="updateContact(contact._id)">Update</td>
			<td><button class="btn btn-info" ng-click="resetContact()">Reset</td>
		</tr>
		<tr ng-repeat="contact in contactList">
			<td>{{contact.name}}</td>
			<td>{{contact.email}}</td>
			<td>{{contact.mobileNo}}</td>
			<td><button class="btn btn-danger" ng-click="deleteContact(contact._id)">Delete</button></td>
			<td><button class="btn btn-danger" ng-click="editContact(contact._id)">Edit</button></td>
			<td></td>
		</tr>
	</tbody>
</table>
</form>
</div>
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
<script src="../controller/controller.js"></script>

</body>
</html>